
.cabecalho{ 
    width: ;
}

body{
    background-color: rgb(233, 223, 212);
}

h1{
    color: rgb(53, 47, 47);
}

h2{color: black;}

.bicicleta{
    width: 16%;
}

.MTB{
    width: 16%;
}